/*content wrapper center it, width on elements as well, ● font family & font colors
● color palette
● nav bar
● sidebar
● footer
● article*/

body {
/*  change background and set global font family*/
  font-family: sans-serif;
}

.content-wrapper {
  background-color: black;
  width:100%;
}
header h1 {
/*  Make bigger and color, san serif*/
  color: #8267aa;
  text-align: center;
  font-size: 45px;
  margin: 40px 0px 20px 0px; 
}


.main-nav {
  /*  color, remove bullets, border, float the elements, center content in links, san serif, width, font color, san serif font family */
  height: 45px;  
  width: inherit; 
  background-color: #8468b3;
}



nav li {
  display: inline-block;
  margin: 0px 25px;



}
.main-nav ul a{
  /*  color, remove bullets, border, float the elements, center content in links, san serif, width, font color, san serif font family */
  float: left;
  color: white;
  list-style-type: none;
  text-decoration: none;
  border-right: 2px solid #663399;
  height: 30px;
  padding: 15px 50px 0px 0px; 
}
  
  
#noline {
  border-right: none;
}

aside {
/*  clear float: background color, float, font color, width on links, center it */
/*
  clear: both;
  margin:0;
*/
  background-color: #c0b2d5; 
  width:20%;
  height: 600px;
  display: inline-block;

}
aside ul a{
/*  clear both,*/
  clear:both;
  color:white; 
  list-style-type: none;
  text-decoration: none;
  text-align: center; 
  display: block;
  padding: 40px 20px 0px 0px;
  margin:0;

}
aside img { 
  clear:both;
  display: block;
  margin: 0px 40px 5px 40px;
}


section {
/*background color, float to the right?,  */
  background-color: lightgray; 
  width:80%;
  height: 600px;
  float: right;
  margin:0;

}
  figure {
  margin: auto;  
  text-align: center; 
  padding: 100px 200px;
  clear: both;  
  }  
  /*  within figure, center it using margin:auto */

section figcaption {
  margin-top: 30px;
}
figure img { 
  padding-bottom: 40px; 
  width: 400px;
}
footer {
/*   display: block;*/
  margin: 20px 300px;
  float: left; 
  padding: 0px 60px;  
}
footer a {
  padding: 0px 10px;
}


